{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body id="home_body">
    <div id="home_container">
        <div>목표 리스트</div><br>
        <div class="form">
            <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                ID: <input id="home_ID" name="username" type="text" required><br>
                PW: <input id="home_PW" name="password" type="password" required><br><br>
                <button id="login_button" type="submit">로그인</button>
                <button id="register_button" type="button" onclick="location.href='{% url 'register' %}'">회원가입</button>
            </form>
        </div>
    </div>
</body>
</html>