<html>
<body>
    
    <div name='top'>
        <span>목표리스트</span>
        <button onclick="mymodal();">글쓰기</button>
    </div>
    <div name='body'>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- modal_content-->
        <div class="modal-content">
        <span class="close">&times;</span>
        <form method="POST">{% csrf_token %}
            제목: <input name="title" type="text" required><br>
            내용: <textarea name="body" required></textarea><br>
            목표날짜: <input type="text" required><br>
            목표이유: <input type="text" required><br>
            목표분야: <input type="text" required><br>
            <button type="submit">목표설정</button>
        </form>
        </div>
    </div>


    <script>
        var modal=document.getElementById('myModal');
        function mymodal(){
            modal.style.display="block";
        }
    </script>
</body>
</html>