{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div name='top'>
        <span>목표리스트</span>
        <button onclick="mymodal();">글쓰기</button>
        <button onclick=location.href="{% url 'logout' %}">로그아웃</button>
    </div>
    <div name='body'>
        {% for post in posts %}
            {{ post.author}}님의 목표 | 분야: {{ post.subject }}<br>
            제목: {{ post.title }} <button onclick="detailmodal();">자세히</button><br>
            -------------------------------------<br>
        {% endfor %}
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- modal_content-->
        <div class="modal-content">
        <span id="myclose" class="close">&times;</span>
        <form method="POST" action="{% url 'main' %}">{% csrf_token %}
            제목: <input name="title" type="text" required><br>
            내용: <textarea name="body" required></textarea><br>
            목표날짜: <input name="year" type="text" required>년 <input name="month" type="text" required>월 <input name="day" type="text" required>일<br>
            목표이유: <input name="reason" type="text" required><br>
            목표분야: <input name="subject" type="text" required><br><br>
            <button type="submit">목표설정</button>
        </form>
        </div>
    </div>

    <!-- detail Modal-->
    <div id="detailModal" class="modal">
        <!-- detail modal content-->
        <div class="modal-content">
            <span id="detailclose" class="close">&times;</span>
            <div>hello</div>
        </div>
    </div>
    <script>
        var modal=document.getElementById('myModal');
        var close=document.getElementById('myclose');
        function mymodal(){
            modal.style.display="block";
        }
        close.onclick=function(){
            modal.style.display="none";
        }
    </script>
    <script>
        function detailmodal(){
            var detailmodal=document.getElementById('detailModal');
            var detailclose=document.getElementById('detailclose');
            detailmodal.style.display="block";
            detailclose.onclick=function(){
                detailmodal.style.display="none";
            }
        }
        
    </script>
    
</body>
</html>