{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <script>
        var pk;
    </script>
    <div name='top'>
        <span>목표리스트</span>
        <button onclick="mymodal();">글쓰기</button>
        <button onclick=location.href="{% url 'logout' %}">로그아웃</button>
    </div>
    <div name='body'>
        {% for post in posts %}
            <div class="postdetail" name="{{post.id}}">
                {{ post.author}}님의 목표 | 분야: {{ post.subject }}<br>
                제목: {{ post.title }} <button class="postbutton" name="{{post.id}}" onclick="detailmodal();">자세히</button><br>
                -------------------------------------<br>
            </div>
        {% endfor %}
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- modal_content-->
        <div class="modal-content">
        <span id="myclose" class="close">&times;</span>
        <form method="POST" action="{% url 'main' %}">{% csrf_token %}
            제목: <input name="title" type="text" required><br>
            내용: <textarea name="body" required></textarea><br>
            목표날짜: <input name="year" type="text" required>년 <input name="month" type="text" required>월 <input name="day" type="text" required>일<br>
            목표이유: <input name="reason" type="text" required><br>
            목표분야: <input name="subject" type="text" required><br><br>
            <button type="submit">목표설정</button>
        </form>
        </div>
    </div>

    <!-- detail Modal-->
    <div id="detailModal" class="modal">
        <!-- detail modal content-->
        <div class="modal-content">
            <span id="detailclose" class="close">&times;</span>
            <div id="nickname"></div>
            <div id="title"></div>
            <div id="body"></div>
            <div id="date"></div>
            <div id="reason"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--jquery ajax 사용하려면 위와 같이 해야함 jquery 알아보기-->
    <script>
        var modal=document.getElementById('myModal');
        var close=document.getElementById('myclose');
        function mymodal(){
            modal.style.display="block";
        };
        close.onclick=function(){
            modal.style.display="none";
        };
    </script>
    <script>
        function detailmodal(){
            var detailmodal=document.getElementById('detailModal');
            var detailclose=document.getElementById('detailclose');
            detailmodal.style.display="block";
            
            detailclose.onclick=function(){
                detailmodal.style.display="none";
            };
        };
        $(".postbutton").click(function(){
            pk=$(this).attr('name');
            $.ajax({
                type:"GET",
                url: "{% url 'postdetail' %}",
                data:{'pk':pk},
                success:function(msg){
                    $("#nickname").text("");
                    $("#nickname").append(msg['author']);
                    $("#nickname").append("님의 목표");
                    $("#title").text("");
                    $("#title").append("제목: ");
                    $("#title").append(msg['title']);
                    $("#body").text("");
                    $("#body").append("내용: ");
                    $("#body").append(msg['body']);
                    $("#date").text("");
                    $("#date").append("목표날짜: ");
                    $("#date").append(msg['year']+'년');
                    $("#date").append(msg['month']+'월');
                    $("#date").append(msg['day']+'일');
                    $("#reason").text("");
                    $("#reason").append("목표이유: ");
                    $("#reason").append(msg['reason']);
                },
                error:function(response){
                    alert('fail');
                    $("#title").append("오류발생");
                }
            });
        });
        
    </script>
    
</body>
</html>