<html>
<body>
    <div>회원가입</div>
    <form method="POST" action="{% url 'register' %}"> {% csrf_token %}
        이름: <input type="text" name="name" required><br><br>
        나이: <input type="text" name="age" required><br><br>
        ID: <input type="text" name="username" required><br><br>
        PW: <input type="password" name="password" required><br><br>
        PW 확인: <input type="password" name="password2" required><br><br>
        이메일: <input type="text" name="email" required><br><br>
        <button type="submit">가입하기</button><button onclick=location.href="{% url 'home' %}">돌아가기</button>
    </form>
</body>
</html>