/*home.html css----------------*/
#home_body{
    background: linear-gradient(#f3c6ed, #eb91f3);/*그라데이션*/
    text-align:center;/*전체를 중심으로*/
    border:0;
    margin:0;
}
#login_button, #register_button:hover{
    cursor:pointer;/*올려놓으면 손모양으로 cursor 바뀜*/
}
/*Mobile Device-세로 버전*/
@media screen and (max-width:767px) and (orientation:portrait){
    #home_container{
        margin-top:50%;/*div의 위에서의 간격*/
        font-size:5vw;/*vw는 화면에 따른 크기로 반응형에 맞는 글자 크기*/
    }
    #home_ID, #home_PW{
        height:5vw; /*input box 크기는 height, width로*/
        width:30vw;
    }
    #login_button, #register_button{
        font-size:4vw;
    }
}
/*Mobile Device-가로 버전*/
@media screen and (max-width:767px) and (orientation:landscape){
    #home_container{
        margin-top:8%;
        font-size:3vw;
    }
}
/*Mobile Device-Pixel 2 XL, iPhone X 가로버전*/
@media screen and (min-width:768px) and (max-width:823px) and (orientation:landscape){
    #home_container{
        margin-top:5%;
        font-size:3vw;
    }
}
/*Tablet Device-iPad, iPad Pro 세로버전*/
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
    #home_container{
        margin-top:15%;
        font-size:5vw;
    }
    #home_ID, #home_PW{
        height:5vw; /*input box 크기는 height, width로*/
        width:30vw;
    }
    #login_button, #register_button{
        font-size:4vw;
    }
}
/*Tablet Device-iPad 가로버전*/
@media screen and (min-width: 824px) and (max-width:1024px) and (orientation:landscape){
    #home_container{
        margin-top:12%;
        font-size:4vw;
    }
    #home_ID, #home_PW{
        height:5vw; /*input box 크기는 height, width로*/
        width:30vw;
    }
    #login_button, #register_button{
        font-size:3vw;
    }
}
/*Desktop and iPad Pro 가로버전*/
@media screen and (min-width:1025px){
    #home_container{
        margin-top:10%;
        font-size:3vw;
    }
    #home_ID, #home_PW{
        height:3.5vw; /*input box 크기는 height, width로*/
        width:30vw;
    }
    #login_button, #register_button{
        font-size:2vw;
    }
}
    









