body{
    margin:0;/*기본적으로 사방에 여백이 있는데 없애주는 역할*/
    padding:0;
}
/*Mobile Device-세로 버전*/
/*또한 desktop 버전을 가로로 많이 줄였을 때도 적용됨*/
@media screen and (max-width:480px) and (orientation:portrait){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:8vw;
        position:sticky;
        top:0;
        background-color:yellow;
    }
    #mypage_top button{
        font-size:5vw;
        float:right;
        top:5;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:83%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:25%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:120vw;
        border:solid 2px grey;
        border-radius:10px;
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:25%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:120vw;
        border:solid 2px grey;
        border-radius:10px;
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:50%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    #nickname{
        margin-top:10%;
        border-bottom:solid 1.5px grey;
        font-size:5vw;
    }
    #title{
        overflow:auto;
        height:8%;
        border-bottom:solid 1.5px grey;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:50%;
        border-bottom:solid 1.5px grey;
    }
    #date{
        border-bottom:solid 1.5px grey;
    }
    #reason{
        overflow:auto;
        height:23.5%;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:5px;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
    }
    #new_body{
        margin-left:3.7%;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
    }
    #new_year{
    
    }
    #new_month{
    }
    #new_day{
    }
    #new_reason{
        margin-left:3.7%;
    }
    #new_subject{
        margin-left:3.7%;
    }
    #new_button{
        text-align:center;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:5%;
        font-size:6vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
    }
    #edit_title textarea{
        height:6vw;
        width:57vw;
        font-size:5vw;
    }
    #edit_body{
        margin-left:3.7%;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:5vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
    }
    #edit_year textarea{
        width:13vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_month textarea{
        width:10vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_day textarea{
        width:10vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_reason{
        margin-left:3.7%;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
    }
    #edit_button{
        text-align:center;
    }
}
/*Mobile Device-가로 버전*/
/*두번째 조건은 desktop에서 줄였을 때의 조건*/
@media screen and (max-width:767px) and (orientation:landscape), (min-width:481px) and (max-width:767px) and (orientation:portrait) {
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:7vw;
        position:sticky;
        top:0;
        background-color:yellow;
        z-index:1;
    }
    #mypage_top button{
        font-size:4vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:4vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:60%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:90%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        margin-bottom:10%;
        height:60%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
        overflow:auto;
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:90vw;
        border:solid 2px grey;
        border-radius:10px;
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:10%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        font-size:4vw;
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:70vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    #nickname{
        margin-top:6%;
        border-bottom:solid 1.5px grey;
        font-size:5vw;
        height:8%;
    }
    #title{
        overflow:auto;
        height:7%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:43%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:4vw;
        height:7%;
    }
    #reason{
        overflow:auto;
        height:26%;
        font-size:4vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:4vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:4vw;
    }
    #new_title input{
        height:5vw;
        font-size:3vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_body textarea{
        font-size:3vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_year input{
        height:4vw;
        font-size:3vw;
    }
    #new_month select{
        height:5vw;
        font-size:3vw;
    }
    #new_day select{
        height:5vw;
        font-size:3vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_reason textarea{
        font-size:3vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_subject input{
        height:5vw;
        font-size:3vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:4vw;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:5%;
        font-size:5vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_title textarea{
        height:5vw;
        width:57vw;
        font-size:4vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:4vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_year textarea{
        width:13vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_month textarea{
        width:8vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_day textarea{
        width:8vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:4vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:4vw;
    }
    #edit_button input{
        font-size:4vw;
    }
}
/*Mobile Device-Pixel 2 XL, iPhone X 가로버전*/
@media screen and (min-width:768px) and (max-width:823px) and (orientation:landscape){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:7vw;
        position:sticky;
        top:0;
        background-color:yellow;
        z-index:1;
    }
    #mypage_top button{
        font-size:4vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:4vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:60%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:90%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        margin-bottom:10%;
        height:60%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
        overflow:auto;
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:90vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:10%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        margin-top:10%;
        font-size:4vw;
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:70vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    #nickname{
        margin-top:6%;
        border-bottom:solid 1.5px grey;
        font-size:5vw;
        height:8%;
    }
    #title{
        overflow:auto;
        height:7%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:43%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:4vw;
        height:7%;
    }
    #reason{
        overflow:auto;
        height:26%;
        font-size:4vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:4vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:4vw;
    }
    #new_title input{
        height:4vw;
        font-size:3.5vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_body textarea{
        font-size:3.5vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_year input{
        height:4vw;
        font-size:3.5vw;
    
    }
    #new_month select{
        height:4vw;
        font-size:3vw;
    }
    #new_day select{
        height:4vw;
        font-size:3vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_subject input{
        height:4vw;
        font-size:3.5vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:4vw;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:5%;
        font-size:5vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_title textarea{
        height:5vw;
        width:57vw;
        font-size:4vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:4vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_year textarea{
        width:13vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_month textarea{
        width:8vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_day textarea{
        width:8vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:4vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:4vw;
    }
    #edit_button input{
        font-size:4vw;
    }
}
/*Tablet Device-iPad, iPad Pro 세로버전*/
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:7vw;
        position:sticky;
        top:0;
        background-color:yellow;
    }
    #mypage_top button{
        font-size:4vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:4vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:90%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        margin-bottom:10%;
        height:40%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:15%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:100vw;
        border:solid 2px grey;
        border-radius:10px;
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:15%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:100vw;
        border:solid 2px grey;
        border-radius:10px;
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:40%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        margin-top:10%;
        font-size:4vw;
    }
    #nickname{
        margin-top:6%;
        border-bottom:solid 1.5px grey;
        font-size:5vw;
    }
    #title{
        overflow:auto;
        height:8%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:50%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:4vw;
    }
    #reason{
        overflow:auto;
        height:24%;
        font-size:4vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:4vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:4vw;
    }
    #new_title input{
        height:5vw;
        font-size:4.5vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_body textarea{
        font-size:4vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_year input{
        height:5vw;
        font-size:4vw;
    }
    #new_month select{
        height:5vw;
        font-size:3vw;
    }
    #new_day select{
        height:5vw;
        font-size:3vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_reason textarea{
        font-size:4vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:4vw;
    }
    #new_subject input{
        height:5vw;
        font-size:4vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:4vw;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:5%;
        font-size:5vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_title textarea{
        height:5vw;
        width:57vw;
        font-size:4vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:4vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_year textarea{
        width:13vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_month textarea{
        width:10vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_day textarea{
        width:10vw;
        height:6vw;
        font-size:4vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:4vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:4vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:4vw;
    }
    #edit_button input{
        font-size:4vw;
    }
}
/*Tablet Device-iPad 가로버전*/
@media screen and (min-width: 824px) and (max-width:1024px) and (orientation:landscape){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:5vw;
        position:sticky;
        top:0;
        background-color:yellow;
    }
    #mypage_top button{
        font-size:3vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:3vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:93%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:35%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:70vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:7%;
        margin-right:7%;
        background-color:white;
        height:60vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:10%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        margin-top:10%;
        font-size:4vw;
    }
    #nickname{
        margin-top:4%;
        border-bottom:solid 1.5px grey;
        font-size:4vw;
        height:8%;
    }
    #title{
        overflow:auto;
        height:7%;
        border-bottom:solid 1.5px grey;
        font-size:3vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:45%;
        border-bottom:solid 1.5px grey;
        font-size:3vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:3vw;
        height:7%;
    }
    #reason{
        overflow:auto;
        height:27%;
        font-size:3vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:3vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:3vw;
    }
    #new_title input{
        height:3vw;
        font-size:2.5vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:3vw;
    }
    #new_body textarea{
        font-size:2.5vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:3vw;
    }
    #new_year input{
        height:3vw;
        font-size:2.5vw;
    
    }
    #new_month select{
        height:3vw;
        font-size:2.5vw;
    }
    #new_day select{
        height:3vw;
        font-size:2.5vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:3vw;
    }
    #new_reason textarea{
        font-size:2.5vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:3vw;
    }
    #new_subject input{
        height:3vw;
        font-size:2.5vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:3vw;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:5%;
        font-size:4vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:3vw;
    }
    #edit_title textarea{
        height:3.5vw;
        width:57vw;
        font-size:3vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:3vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:3vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:3vw;
    }
    #edit_year textarea{
        width:13vw;
        height:3.5vw;
        font-size:3vw;
    }
    #edit_month textarea{
        width:8vw;
        height:3.5vw;
        font-size:3vw;
    }
    #edit_day textarea{
        width:8vw;
        height:3.5vw;
        font-size:3vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:3vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:3vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:3vw;
    }
    #edit_button input{
        font-size:3vw;
    }
}
/*Desktop and iPad Pro 가로버전*/
@media screen and (min-width:1025px) and (max-width:1370px){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:4vw;
        position:sticky;
        top:0;
        background-color:yellow;
    }
    #mypage_top button{
        font-size:2.5vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:2.5vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        display:flex;
    }
    #smalltitle{
        width:93%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:35%;
        display:flex;
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
        overflow:auto;
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:3%;
        margin-left:15%;
        margin-right:15%;
        background-color:white;
        height:50vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:5%;
        margin-left:15%;
        margin-right:15%;
        background-color:white;
        height:45vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:10%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:30vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        margin-top:10%;
        font-size:3vw;
    }
    #nickname{
        margin-top:6%;
        border-bottom:solid 1.5px grey;
        font-size:3vw;
        height:8%;
    }
    #title{
        overflow:auto;
        height:7%;
        border-bottom:solid 1.5px grey;
        font-size:2vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:43%;
        border-bottom:solid 1.5px grey;
        font-size:2vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:2vw;
        height:7%;
    }
    #reason{
        overflow:auto;
        height:26%;
        font-size:2vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:2vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:2vw;
    }
    #new_title input{
        height:2.5vw;
        font-size:2vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:2vw;
    }
    #new_body textarea{
        font-size:2vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:2vw;
    }
    #new_year input{
        height:2.5vw;
        font-size:2vw;
    }
    #new_month select{
        height:2.5vw;
        font-size:2vw;
    }
    #new_day select{
        height:2.5vw;
        font-size:2vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:2vw;
    }
    #new_reason textarea{
        font-size:2vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:2vw;
    }
    #new_subject input{
        height:2.5vw;
        font-size:2vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:2vw;;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:3%;
        font-size:3.5vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:2.5vw;
    }
    #edit_title textarea{
        height:2.5vw;
        width:57vw;
        font-size:2vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:2.5vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:2vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:2vw;
    }
    #edit_year textarea{
        width:11vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_month textarea{
        width:6vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_day textarea{
        width:6vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:2vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:2vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:2vw;
    }
    #edit_button input{
        font-size:2vw;
    }
}
/*Desktop full screen*/
@media screen and (min-width:1371px){
    #mypage_top{/*mylist, 글쓰기, 로그아웃 상단 부분*/
        border-bottom:solid 1.5px black;
        font-size:2vw;
        position:sticky;
        top:0;
        background-color:yellow;
    }
    #mypage_top button{
        font-size:1.5vw;
        float:right;
    }
    #mypage_bottom{
        position:fixed;/*footer에 고정시키는 거*/
        width:100%;
        bottom:0;
        border-top:solid 1.5px black;
        background-color:yellow;
    }
    #mypage_bottom button{
        font-size:1.5vw;
    }
    #total_title, #success_title, #fail_title{
        border-bottom:solid 1px black;
        position:sticky;
        top:0;/*sticky와 함께 이것까지 함께 써야 상단 고정*/
        width:100%;
        background-color:rgb(185, 183, 183);
        text-align:center;
    }
    #mypage_total{
        border:solid 2px black;
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:40%;
        overflow:auto;
    }
    #mypage_title{
        border-bottom:solid 1px black;
        margin-top:2%;
        vertical-align:center;
        display:flex;
    }
    #smalltitle{
        width:95%;
        text-overflow:ellipsis;/*생략*/
        white-space:nowrap;/*자동 줄바꿈 하지 않음*/
        overflow:hidden;
    }
    #mypage_half{
        margin-left:3%;
        margin-right:3%;
        margin-top:2%;
        height:35%;
        display:flex;/*div 속 div 를 옆으로 나란하게*/
    }
    #success{
        width:50%;
        margin-right:2%;
        border:solid 2px black;
        overflow:auto;/*넘치는 부분은 자동으로 scroll이 생기도록*/
    }
    #fail{
        width:50%;
        margin-left:2%;
        border:solid 2px black;
        overflow:auto;
    }
    .modal{
        display:none;/*처음에는 안 보이도록*/
        position:fixed;
        z-index:1;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.4); /* 이걸로 opacity 설정을 해야 안의 content가 보이게됨*/
        /*opacity:0.4 이걸 하게 되면 그냥 안의 content까지 opacity가 0.4로 설정되어 content도 안보이게됨*/
    }
    .modal-content{/*modal 안의 내용*/
        margin-top:2%;
        margin-left:15%;
        margin-right:15%;
        background-color:white;
        height:40vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .newmodal-content{/*modal 안의 내용*/
        margin-top:3%;
        margin-left:15%;
        margin-right:15%;
        background-color:white;
        height:43vw;
        border:solid 2px grey;
        border-radius:10px;
        
    }
    .deletemodal-content{/*modal 안의 내용*/
        margin-top:10%;
        margin-left:20%;
        margin-right:20%;
        background-color:rgb(0, 255, 255);
        height:20vw;
        border:solid 2px grey;
        border-radius:10px;
        text-align:center;
    }
    .deletemodal-content button{
        margin-top:10%;
        font-size:2vw;
    }
    #nickname{
        margin-top:5%;
        border-bottom:solid 1.5px grey;
        font-size:2.5vw;
        height:8%;
    }
    #title{
        overflow:auto;
        height:7%;
        border-bottom:solid 1.5px grey;
        font-size:2vw;
    }
    #body{
        overflow:auto;/*지정한 범위를 넘으면 넘치지 않고 scroll이 생기도록*/
        height:43%;
        border-bottom:solid 1.5px grey;
        font-size:2vw;
    }
    #date{
        border-bottom:solid 1.5px grey;
        font-size:2vw;
        height:7%;
    }
    #reason{
        overflow:auto;
        height:26%;
        font-size:2vw;
    }
    #mybutton button{
        border:solid 1px skyblue;
        background-color:rgb(71, 69, 69);
        color:skyblue;
        padding:7px;
        font-size:2vw;
    }
    #new_title{
        margin-left:3.7%;
        margin-top:5%;
        font-size:1.7vw;
    }
    #new_title input{
        height:1.7vw;
        font-size:1.5vw;
    }
    #new_body{
        margin-left:3.7%;
        font-size:1.7vw;
    }
    #new_body textarea{
        font-size:1.5vw;
    }
    #new_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:1.7vw;
    }
    #new_year input{
        height:1.7vw;
        font-size:1.5vw;
    }
    #new_month select {
        height:1.7vw;
        font-size:1.5vw;
    }
    #new_day select{
        height:1.7vw;
        font-size:1.5vw;
    }
    #new_reason{
        margin-left:3.7%;
        font-size:1.7vw;
    }
    #new_reason textarea{
        font-size:1.7vw;
    }
    #new_subject{
        margin-left:3.7%;
        font-size:1.7vw;
    }
    #new_subject input{
        height:1.7vw;
        font-size:1.5vw;
    }
    #new_button{
        text-align:center;
    }
    #new_button button{
        font-size:1.7vw;;
    }
    #edit_nickname{
        margin-left:3.7%;
        margin-top:3%;
        font-size:3.5vw;
        border-bottom:1px solid gray;
    }
    #edit_title{
        margin-left:3.7%;
        font-size:2.5vw;
    }
    #edit_title textarea{
        height:2.5vw;
        width:57vw;
        font-size:2vw;
    }
    #edit_body{
        margin-left:3.7%;
        font-size:2.5vw;
    }
    #edit_body textarea{
        width:95%; 
        height:20%;
        font-size:2vw;
    }
    #edit_date{
        display:flex;
        justify-content:flex-start;
        margin-left:3.7%;
        font-size:2vw;
    }
    #edit_year textarea{
        width:11vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_month textarea{
        width:6vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_day textarea{
        width:6vw;
        height:2.5vw;
        font-size:2vw;
    }
    #edit_reason{
        margin-left:3.7%;
        font-size:2vw;
    }
    #edit_reason textarea{
        width:95%; 
        height:13%;
        font-size:2vw;
    }
    #edit_button{
        text-align:center;
    }
    #edit_button button{
        font-size:2vw;
    }
    #edit_button input{
        font-size:2vw;
    }
}
.close{
    color:yellowgreen;
    float: right;
    font-size:3.5vw;
    font-weight:bold;
}

.close:hover{
    color:black;
    cursor:pointer;
}